input{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  border:1px solid #494949;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

label{
  font-size: 12px;
}